* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body {
    
} */

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}

#canvas {
    display: flex;
    background-image: url(images/background.png);
    background-color: chartreuse;
    margin: 0 auto;
}

.paddle {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blueviolet;
}

.emoji {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(images/block.png);
    background-repeat: no-repeat;
}

.ball {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(images/ball.png);
    border-radius: 50%;
}



/* #breakout {
    background-color: #000;
}

#playButton {
    cursor: pointer;
    background-color: crimson;
    color: #FFF;
    font-weight: 700;
    padding: 0.5em 1em;
    border-radius: 5px;
    box-shadow: #000;
}

#playButton:hover {
    cursor: pointer;
    background-color: chartreuse;
    color: #FFF;
    font-weight: 700;
    padding: 0.5em 1em;
} */